<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



    <h1>{{val1}}</h1>
    
    {% for lo in lo %}

    
    {% if lo.code == val1 %}
   
   
   
    <h1>{{lo.name}}</h1>

   <h3>Day1:{{lo.day1}}</h3>
   <h3>Day2:{{lo.day2}}</h3>
   <h3>Day3:{{lo.day3}}</h3>
   <h3>Day4:{{lo.day4}}</h3>
   <h3>Day5:{{lo.day5}}</h3>
  

    {%  endif %}
    {% endfor %}

    <li><a href='user'>Click here to Book </a></li>
    
   
</body>
</html>