

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Bookings confirmed with the following details </h1>
    <h3>place code:{{val1}}</h3>
    <h3> {{client1.First_name}} </h3>
    
    <h3> {{client1.aadhar_number}} </h3>
    <h3> {{client1.No_of_adults}} </h3>
    <h3> {{client1.no_of_children}} </h3>

</body>
</html>




